.bullet{
  position: absolute;
  width: 8px;
  aspect-ratio: 1/1;
  transform: translate(-50%,-50%);
  background-color: black;
  border-bottom: 1px solid 
  rgba(174, 192, 173, 0.712);
  border-radius: 50%;

  &.critical{
    background-color: rgb(198, 198, 220) ;
    box-shadow: 0px 0px 10px 7px  rgba(198, 198, 220, 0.411);
  }
  &.pit-texture1{
    background-image: url($pitTexture1);
  }
  &.pit-texture2{
    background-image: url($pitTexture2);
  }
  &.pit-texture4{
    background-image: url($pitTexture4);
  }
  &.pit{
    // background-color: rgba(112, 77, 63, 0.548);
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    filter: contrast(1.1) hue-rotate(45deg) saturate(0.5) brightness(0.8);
    // box-shadow:  0px 0px 8px 6px rgb(180, 147, 132);
    width: 30px;
    animation-name: dissolvePit ;
    animation-duration: 5s ;
    animation-timing-function: ease-in;
    opacity: 0;
    &.critical{
      filter: contrast(1.8) hue-rotate(200deg) saturate(1) brightness(1.2) opacity(0.8);
      width: 40px;
    }
  }
}
@keyframes dissolvePit {
  from { opacity:1 }
  to {opacity:0 }
}

.explosion {
    position: absolute;
    aspect-ratio: 1/1;
    transform: translate(-50%,-50%)  scale(0%);
    border-radius: 50%;
    background-color: rgb(168, 118, 42);
    opacity: 0;
    animation-name: dissolve ;
    animation-duration: 0.5s ;
    animation-timing-function: ease-in-out;
    
    &.critical{
      background-color: rgb(219, 68, 48);     
      opacity: 1;
    }
}

@keyframes dissolve {
  from {
    transform:translate(-50%,-50%) scale(100%);
    background-color: rgb(175, 212, 201);
    opacity: 0.7;}
  20%{
    background-color: rgba(253, 1, 1, 0);
    transform:translate(-50%,-50%) scale(40%)
  }
  90% {
    transform:translate(-50%,-50%) scale(100%);
    opacity: 0.3;}
}

// debug trigger area
// .trigger-area{
//   position: absolute;
//   aspect-ratio: 1/1;
//   transform: translate(-35%,-35%);
//   border-radius: 50%;
//   border: 2px dashed rgba(160, 221, 110, 0.774);
// }