.debug{
  background-color:rgba(156, 21, 21, 0.253);
  // border: 1px solid black;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}
ul {
  padding: 0;
  list-style-type:none;
  line-height: 1.2rem;
}

// font-family: 'Quantico', monospace;          ------title +
// font-family: 'Chakra Petch', monospace;      ------title
// font-family: 'Big Shoulders Stencil Display', monospace;  ----wave message / title
// font-family: 'Handjet', monospace;           ------- base console display
// font-family: 'Amatic SC', monospace;         ------ hand write message

body{
  background-color: black;
  overflow: hidden;
}

.main-wrapper{
  font-family: 'Quantico', monospace;
  font-size: 0.9rem;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;

}

#main{
  width: 600px;
  height: 970px;
  overflow: hidden;
}

