.debug{
  background-color:rgba(156, 21, 21, 0.253);
  border: 1px solid black;
}
body{
  background-color: black;
  overflow: hidden;
}
.main-wrapper{
  width:100%;
  min-width: 800px;
  height:100%;
  // overflow: hidden;
}
.main_container{
  width: 800px;
}

// header{

// }

.main{

  width: 800px;
  height: 900px;
  padding:0;
}

.control-surface{
  width: 750px;
  background-color: rgb(46, 42, 42);
}

.battle-ground{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/texture/1bg_top_z1.jpg");
  background-color: rgb(151, 142, 132);
  background-position:40%;
  // background-repeat: round;
  background-size:contain;
  cursor: crosshair;
  overflow: hidden;
}

.battle-ground * {
  pointer-events: none;
}


.bullet-container{
  position: absolute;
  overflow: visible;
}

// .life-bar{
//   width: 80px;
//   height: 8px;
//   border: 1px solid black;
// }
