.startWavesModal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 300px;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(186, 206, 167);
  border: 5px solid rgb(122, 122, 122);
  border-radius: 10px;
  box-shadow: 0px 0px 150px 100px black;
}
.modal_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
section{
    width: 100%;
  }
.main_section{
  display: flex;
  flex-direction: column;
  height: 60%;
}
.modal_title{
  padding-top: -10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  height: 20%;
}
.my_row{
  height: 80%;
  display: flex;
  & .info{
    width: calc(20% * 3);
    padding: 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  & .action{
    width: calc(20% * 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn_start{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  aspect-ratio: 1.40/1;
  border-radius: 20px;
  border: 3px solid black;
  background-color: yellow;
  & h4{
    text-align: center;
    user-select: none;
    color: rgb(0, 0, 0);
  }
}
.upgrade{
  display: flex;
  justify-content: space-around;
  height: 40%;
}
.btn_upgrade{
  width: calc(95% / 5);
  text-align: center;
  background-color: rgb(109, 156, 94);
  border: 1px solid rgb(123, 255, 83);
  box-shadow: inset 0px 0px 20px 0px rgb(123, 255, 83);
  padding: 5px;
  user-select: none;
  cursor: pointer;
  line-height: 0.8rem;
  & h6{
    line-height: 01rem;
    height: 35px;
  }
}
.off{
  filter: grayscale(1);
  opacity: 0.4;
  pointer-events: none;
}